@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL RESET */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #09301f;
    color: white;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
color: inherit;
}

/* TOP BAR */

.top-bar {
    background-color: #32DE94;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin: 0;
    
}

.top-bar p, 
.top-bar i {
    color: #072719;
    font-size: 14px;
    animation: fade-in-from-left 0.5s;
}

/* HEADER ELEMENTS */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    animation: fade-in-from-top 0.5s;
}

.badge {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 30px;
    border: 1px solid rgb(32, 231, 168);
    padding: 8px 12px;
}

.badge p {
    margin: 0;
    
}

.badge span {
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--grad, linear-gradient(130deg, #2086EB 0%, #20DBEB 49.48%, #20E7A8 100%));
    padding: 2px 11px;
    color: #072719;
    font-weight: 500;
}

h1 {
    color: #ECECEC;
    text-align: center;
    font-size: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.8px;
    margin: 20px 0 0px 0;
}

.subheader {
    color: rgba(236, 236, 236, 0.8);
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


/* BLUR BACKGROUNDS */ 

.left-blur {
    
    opacity: 0.8500000238418579;
    background: linear-gradient(130deg, #2086EB 0%, #20DBEB 0.01%, #20E7A8 100%);
    filter: blur(200px);
    width: 312px;
    height: 333px;
    position: absolute;
    z-index: -5;
    left: 0;
    top: 50%;
}

.right-blur {
   
    opacity: 0.8500000238418579;
    background: linear-gradient(130deg, #2086EB 0%, #20DBEB 0.01%, #20E7A8 100%);
    filter: blur(200px);
    width: 312px;
    height: 333px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -5;

}

/* CALCULATOR */

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 60px);
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(209, 223, 236);
    animation: fade-in-from-left 0.5s;

    
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(189, 255, 227, 0.75);
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
}

.calculator-grid > button:hover {
    background-color: rgba(111, 255, 207, 0.75);

}

.span-two {
    grid-column: span 2;
}

.output {
   grid-column: 1 / -1; 
   background-color: rgb(3, 31, 19, 0.7);
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   flex-direction: column;
   padding: 15px;
   word-wrap: break-word;
   word-break: break-all;
}

.output .previous-operand {
color: rgba(255, 255, 255, 0.75);
font-size: 25px;
}

.output .current-operand {
    color: rgb(20, 255, 181);
    font-size: 32px;
    font-weight: 600;
    }

.calculator-border {
    overflow: hidden;
    border-radius: 10px;
}

/* FOOTER */ 

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: rgba(236, 236, 236, 0.8);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: auto;
    margin-bottom: 10px;
    animation: fade-in-from-top 0.5s;

}

footer i {
transition: all 0.2s;
}

footer i:hover {
color: #20E7A8;
}

/* RESPONSIVENESS */ 

@media (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
    .subheader {
        font-size: 16px;
        text-align: center;
        word-wrap: break-word;
        width: 90%;
        
    }

    .badge p, 
    .badge span {
        font-size: 14px;
    }
    .top-bar {
        display: none;
    }
}

@media (max-width: 430px) {
 h1 {
    font-size: 35px;
 }

 .badge p, 
    .badge span {
        font-size: 14px;
    }
    .subheader {
        display: none;
    }
header {
    margin-bottom: 50px;
    margin-top: 80px;
}
}

 /* ANIMATIONS */ 

 @keyframes fade-in-from-top {
    0% {
        opacity: 0%;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
 }

 @keyframes fade-in-from-left {
    0% {
        opacity: 0%;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
 }